.reset-button,
.auto-play-button{
    margin-top:1rem ;
    display: block;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;

}

body{
    background-color: black;
    color: white;
}

p{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.move-button{
    background-color: transparent;
    padding: 30px;
    border-radius: 60px;
    border: white solid;
    margin-right: 10px;
    margin-bottom: 30px;
}

.move-icon{
    height:50px;
}

button {
    display: inline-block; /* or inline */
    margin-right: 10px; /* optional: add space between buttons */
  }
  